
Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env
**/.env*
.vscode



.eslintignore
.prettierignore

**/*.tar
**/*.db
*.db-journal
/backups
gitleaks-report.json
*.sh
vite.config.ts.timestamp-*.mjs