# Location of the sqlite database. Modify the part after "file:"
DATABASE_URL=file:/database/prod.db

# For example use: `openssl rand -base64 64`
AUTH_SECRET=

# The username and password for which an admin account will be created initially
username=
password=

# Get your api key following these instructions: https://developers.google.com/books/docs/v1/using
BOOKS_API_KEY=

# host and port of the running website
ORIGIN=http://localhost:4000
